# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma
freelance-estimator-backend/prisma/*.db

# TypeScript build info
*.tsbuildinfo
